.card {
  background-color: #DFBD96;
  border: 1px solid #BB9163;
  box-shadow:   1px 1px 0px 1px #966C3D,
                1px 1px 1px 1px #FFE7CD inset;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  min-width: 150px;
  max-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  flex-grow: 1;
  flex-shrink: 1;
}

.card-number {
  font-size: 2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.25rem;
  font-weight: bold;
  z-index: 1;
}

.card-title {
  font-size: 1rem;
}

.card-image {
  display: block;
  max-width: 100px;
  height: auto;
}

.selected {
  box-shadow: 0px 0px 4px 2px #7B6120;
  background-color: #FFE8CF;
}

/* Large screens: FullHD and bigger */
@media (min-width: 1919px) {
  .card {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 400;
  }
}

/* Short screen */
@media (max-height: 899px) {
  .card {
    height: 150px;
  }
}

/* Narrow screen  */
@media (max-width: 699px) {
  .cards.numeric .card {
    height: 80px;
  }

  .cards.special .card {
    height: 120px;
  }

  .cards.special .card-image {
    height: 50px;
  }
}

/* Limited screen: both vertical and horizontal */
@media (max-width: 899px) and (max-height: 899px) {
  .card {
    height: 120px;
  }

  .cards.numeric .card {
    height: 100px;
  }

  .card-text {
    font-size: 1rem;
    font-weight: bold;
  }

  .card-image {
    max-width: 50px;
    margin: 5px;
  }
}

/* Wide but short screen */
@media (max-height: 699px) and (min-width: 1280px) {
  .cards.numeric .card {
    height: 140px;
  }
}

/* Narrow but tall screen */
@media (max-width: 699px) and (min-height: 1080px) {
  .cards.numeric .card {
    height: 120px;
  }
}

/* Medium sized screen  */
@media (max-height: 699px) {
  .cards.numeric .card {
    height: 90px;
  }

  .cards.special .card {
    height: 120px;
  }

  .cards.special .card-text {
    height: 0.5rem;
  }

  .cards.special .card-image {
    height: 50px;
  }
}

/* Minimum sized screen */
@media (max-height: 499px) {
  .cards.numeric .card {
    height: 70px;
  }

  .cards.numeric .card-number {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .cards.special .card {
    height: 80px;
  }

  .cards.special .card-text {
    height: 0.5rem;
  }

  .cards.special .card-image {
    height: 40px;
  }
}
