.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  border-bottom: solid 1px #7D5700;
  background-color: #A0740E;
  box-shadow:   1px 1px 0px 1px #523A00,
                1px 1px 1px 1px #DCB14C inset;

}